{% extends 'base.html' %}

{% block content %}

<div class="row align-items-center">

    <div class="col-md-6">
        <h1 class="display-4 fw-bold">🤖 AI Resume Analyzer</h1>
        <p class="lead mt-3">
            Analyze your resume, detect skills, and get job match score instantly.
        </p>

        <a href="/upload/" class="btn btn-light btn-lg mt-3">
            🚀 Get Started
        </a>
    </div>

    <div class="col-md-6">
        <div class="row g-3">

            <div class="col-md-6">
                <div class="card p-3 text-dark">
                    <h5>📄 Upload Resume</h5>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card p-3 text-dark">
                    <h5>🧠 Skill Detection</h5>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card p-3 text-dark">
                    <h5>🎯 Job Match</h5>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card p-3 text-dark">
                    <h5>📥 Download Report</h5>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}